h1{
    color: rgb(2, 37, 233);   
    text-align: center;
 }   

 body{
    background-color: rgb(237, 203, 153);
 }

 h2{
    color: rgb(224, 26, 26); 
 }

 .rang{
    color: rgb(50, 205, 179);
 }